<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Puzzle</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/congrats.css')}}">
</head>

<body>
    <header>
        <nav>
            <ul class="navigation-list">
                <li>
                    <a href="/leaderboard">Leaderboard</a>
                </li>
                <li>
                    <a href="/puzzle">Puzzle</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="puzzle-container">
        <div class="image-container">
            <img src="https://i.postimg.cc/0jtQhwGR/final.png" style="width: 100%"/>
        </div>
    </div>
</body>

</html>