<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Puzzle</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
</head>

<body>
    <header>
        <nav>
            <ul class="navigation-list">
                <li>
                    <a href="/leaderboard">Leaderboard</a>
                </li>
                <li>
                    <a href="/puzzle">Puzzle</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="puzzle-container">
        <div class="image-container">
            <img src="{{image_link}}" />
        </div>
    </div>
</body>

</html>