* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    background-color: #41a9e6;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.navigation-list {
    list-style: none;
}

.navigation-list li {
    display: inline-block;
    padding: 0px 20px;
}

.navigation-list li a {
    transition: all 0.3s ease 0s;
}

.navigation-list li a:hover {
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    background-color: white;
}


.puzzle-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: black;
}

.image-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.image-container img {
    align-content: center;
    align-self: center;
    height: auto;
    alt: "puzzle";
    width: 95vw;
}

.puzzle-container h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}


.puzzle-container h4 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}